.heading{
    font-size:30px;
    width:100%;
    margin:0px;
}
.note{
    font-size:18px;
}
body{
    background-size:cover;
}
.speed{
    float:left;
}
.speed_img,.volume_img{
    width:200px;
    border-radius:100px;
}
#speed_of_song,#volume_of_song{
    font-size:25px;
    margin:10px;
}
.volume{
    float:right;
}
.button_play{
    width:100px;
    font-size:25px;
}
canvas{
    border:5px solid rgb(114, 18, 55);
    border-radius:20px;
    margin-top:15px;
}
